## greglearns/ruby provides us with ruby 2.0.0-p47 by default
## along with RubyGems and Bundler
## this is a bit nasty in how it uses a fixed ssh key I generated just for
## use by this, but I can't think of anything better for now.

FROM greglearns/ruby

## normally needed to compile gems with native extensions
RUN apt-get update
RUN apt-get install -y make
RUN apt-get install -y gcc
RUN apt-get install -y libxslt-dev libxml2-dev libpq-dev build-essential

# re run bundle install only if gems change
# Copy the Gemfile and Gemfile.lock into the image. 
# # Temporarily set the working directory to where they are. 
WORKDIR /tmp 
ADD findMe/Gemfile Gemfile
ADD findMe/Gemfile.lock Gemfile.lock
RUN bundle install --without development test

## add the app
ADD findMe /opt/findMe
ADD run_app.sh /opt/findMe/

## set the env
ENV RAILS_ENV production

## cd
WORKDIR /opt/findMe

CMD ./run_app.sh
